.button {
  position: fixed;
  right: 0;
  margin: 20px;
  width: 80px;
  height: 80px;
  background-color: #4141f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}

.burger {
  width: 100%;
}

.burger::before,
.burger::after {
  content: '';
  width: 40%;
  height: 1px;
  background-color: white;
  display: block;
  margin: auto;
  position: relative;
  transition: 0.3s;
}

.burger::after {
  top: 5px;
}

.burger::before {
  top: -5px;
}

.burger.active::before {
  top: 1px;
  transform: rotate(45deg);
}

.burger.active::after {
  top: -1px;
  transform: rotate(-45deg);
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: #252538;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 20px 0;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: 500;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #4141f3;
}
